  .q-field__bottom {
    padding: 1px 12px;
  }

  .q-chip--dense {
    height: auto;
    margin-bottom: 0px;
  }

  .q-chip__content  {
    white-space: normal;
  }

  .db-input--description .q-field__label::after {
    content: 'help';
    font-family: 'Material Icons';
    margin-left: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    top: 0px;
    position: absolute
  }
